<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据源列表</title>
{{template "header.html"}}
    <link href="bootstrap-table/bootstrap-table.css" rel="stylesheet"/>
    <script src="bootstrap-table/bootstrap-table.js"></script>
    <script src="bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>
    <button id="btn_build" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>生成
    </button>
</div>
<div class="modal fade" id="AddSource" tabindex="-1" role="dialog" aria-labelledby="AddSourceLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddSourceLabel">新增</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="source_name">名称</label>
                    <input type="text" name="source_name" class="form-control" id="source_name" placeholder="角色名称">
                </div>
                <div class="form-group">
                    <label for="source_type">类型</label>
                    <input type="text" name="source_type" class="form-control" id="source_type" placeholder="备注">
                </div>
                <div class="form-group">
                    <label for="source_ipaddr">地址</label>
                    <input type="text" name="source_ipaddr" class="form-control" id="source_ipaddr" placeholder="备注">
                </div>
                <div class="form-group">
                    <label for="source_port">端口</label>
                    <input type="text" name="source_port" class="form-control" id="source_port" placeholder="备注">
                </div>
                <div class="form-group">
                    <label for="source_database">库名称</label>
                    <input type="text" name="source_database" class="form-control" id="source_database" placeholder="备注">
                </div>
                <div class="form-group">
                    <label for="source_uid">用户名</label>
                    <input type="text" name="source_uid" class="form-control" id="source_uid" placeholder="备注">
                </div>
                <div class="form-group">
                    <label for="source_pwd">密码</label>
                    <input type="text" name="source_pwd" class="form-control" id="source_pwd" placeholder="备注">
                </div>
                <div class="form-group">
                    <label for="source_des">备注</label>
                    <input type="text" name="source_des" class="form-control" id="source_des" placeholder="备注">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_add_submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>
<table id="tb_List" data-filter-control="true"></table>
<script>
    $(function () {
        var $table = $("#tb_List");
        $table.bootstrapTable({
            url: '/dbsourceList',
            method: 'post', //请求方式（*）
            striped: true,
            sidePagenation: 'server',
            idField: 'source_id',
            columns: [
                {
                    field: 'ck',
                    checkbox: true
                }, {
                    field: 'source_name',
                    title: '名称'
                }, {
                    field: 'source_type',
                    title: '类型'
                }, {
                    field: 'source_ipaddr',
                    title: '地址'
                }, {
                    field: 'source_port',
                    title: '端口'
                }, {
                    field: 'source_database',
                    title: '库名称'
                }, {
                    field: 'source_uid',
                    title: '用户名'
                }, {
                    field: 'source_pwd',
                    title: '密码'
                }, {
                    field: 'source_des',
                    title: '描述'
                }, {
                    field: 'source_status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return value == 0 ? "停用" : "启用";
                    }
                }, {
                    field: 'source_createtime',
                    title: '创建时间'
                }, {
                    field: 'source_buildtime',
                    title: '最后生成时间'
                }, {
                    title: '操作',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    align: 'center'
                }
            ]
        });
    });
    function actionFormatter(value, row, index) {
        var formatValue = '';
        formatValue += '<a class="info" href="#">查看</a>|<a class="edit" href="#">编辑</a>';
        return formatValue;
    }
    var selectdata = null;
    //表格  - 操作 - 事件
    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            window.location.href = "/Home/RoleInfo?t=1&id=" + row['id'];
        },
        'click .info': function (e, value, row, index) {
            window.location.href = "/Home/RoleInfo?t=2&id=" + row['id'];
        }
    }
    $("#btn_add").click(function () {
        $('#AddSource').modal();
    });
    $("#btn_build").click(function () {
        var data = {}
        data.id = 1
        $.ajax({
            type: 'POST',
            url: '/dbbuild',
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                alert(res)
            },
            error: function (err) {
                alert(err)
            }
        });
    });
    $("#btn_add_submit").click(function () {
        var data = {};
        data.source_name = $("#source_name").val();
        data.source_type = $("#source_type").val();
        data.source_ipaddr = $("#source_ipaddr").val();
        data.source_port = $("#source_port").val();
        data.source_database = $("#source_database").val();
        data.source_uid = $("#source_uid").val();
        data.source_pwd = $("#source_pwd").val();
        data.source_des = $("#source_des").val();
        $.ajax({
            type: 'POST',
            url: '/adddbsource',
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: 'json',
            success: function (res) {
                if(res.Code == 200)
                    window.location.reload();
                else
                    alert(res.Msg)
            },
            error: function (err) {
                alert(err)
            }
        });
    });
</script>
</body>
</html>