<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口详情</title>
{{template "header.html"}}
    <link href="bootstrap-table/bootstrap-table.css" rel="stylesheet"/>
    <script src="bootstrap-table/bootstrap-table.js"></script>
    <script src="bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
        </div>
    </div>
</div>
</body>
</html>